*{box-sizing:border-box}
html{
    font-size: 20px;

}

body{
    font-family: 'Roboto', serif;
    font-weight: 400;

    font-size: calc(.333555rem + .481vw + .88vh);
    line-height: 1.37;
    background-color: #0C1231;
    @media(min-width: 1440px){
        font-size: 21px;
    }
}

main{
    max-width: 100%;
    overflow: hidden;
}