.wrap-for-img{
    width: 100%;
    
    position: absolute;
    z-index: -5;
    &.abs-wrap{
        top: 55em;
    }
    &.first-img{
        @media(min-width: 993px){
           margin-top: -19em; 
        }
        
    }
    img{
        width: 100%;
    }
}