<div class="about-as-container parralax-parent">
    <div class="about-as-content">
        <div class="title parralax-element" data-speed="4.3">
            <h2>О нас</h2>
        </div>
        <div class="description parralax-element" data-speed="4.3">
            <p>Экросистем - посредническая, объединяющая комьюнити платформа, через которую будут реализованы услуги и проекты комьюнити.</p>
            <div class="paralax-item">
                    <img class="parralax-element" data-speed="1.8" src="img/pics/preview1.png" alt="">
                </div>
        </div>
        
    </div>
    <div class="comunity-service-block">
        <div class="comunity-service-wr">
            <div class="comunity-service-left parralax-element" data-speed="4.3">
                <div class="comunity-service-title">
                    <h3>Услуга для комюнити</h3>
                </div>
                <div class="comunity-service-description">
                    <p>Объединение людей, которые сложились своими ресурсами для достижения цели - создание независимой самодостачной экосистемы ЭКРО.</p>
                </div>
            </div>
            <div class="comunity-service-right parralax-element" data-speed="2.3">
                <img src="img/pics/comunity-service.png" alt="">
            </div>
        </div>
    </div>
</div>