<div class="about-as-container">
    <div class="about-as-content">
        <div class="title">
            <h2>О нас</h2>
        </div>
        <div class="description">
            <p>Экросистем - посредническая, объединяющая комьюнити платформа, через которую будут реализованы услуги и проекты комьюнити.</p>
            <div class="paralax-item">
                    <img src="img/pics/preview1.png" alt="">
                </div>
        </div>
        
    </div>
    <div class="comunity-service-block">
        <div class="comunity-service-wr">
            <div class="comunity-service-left">
                <div class="comunity-service-title">
                    <h3>Услуга для комюнити</h3>
                </div>
                <div class="comunity-service-description">
                    <p>Объединение людей, которые сложились своими ресурсами для достижения цели - создание независимой самодостачной экосистемы ЭКРО.</p>
                </div>
            </div>
            <div class="comunity-service-right">
                <img src="img/pics/comunity-service.png" alt="">
            </div>
        </div>
    </div>
</div>