<div class="about-as-container parralax-parent">

    <div class="about-as-content">
        <div class="geomethry">
            <div class="geomethry-inner">
               <img src="@@img-lnk-startimg/pics/circle2.png" alt=""> 
            </div>
            
        </div>
        <div class="title parralax-element" data-speed="3.3">
            <h2>@@head</h2>
        </div>
        <div class="description parralax-element" data-speed="3.3">
            <p>@@description</p>
            <p>@@description2</p>
            <div class="paralax-item">
                    <img class="parralax-element" data-speed="12.8" src="@@img-lnk-startimg/pics/preview1.png" alt="">
                </div>
        </div>
        
    </div>
    <div class="comunity-service-block">
        <div class="comunity-service-wr">
                <div class="geomethry">
                        <div class="geomethry-inner">
                        <img src="@@img-lnk-startimg/pics/circle2.png" alt="">
                        </div>
                    </div>
            <div class="comunity-service-left parralax-element" data-speed="3.3">
                <div class="comunity-service-title">
                    <h3>@@comunity-head</h3>
                </div>
                <div class="comunity-service-description">
                    <p>@@comunity-description</p>
                </div>
            </div>
            <div class="comunity-service-right parralax-element" data-speed="2.3">
                <img src="@@img-lnk-startimg/pics/comunity-service.png" alt="">
            </div>
        </div>
    </div>
</div>
