<div class="about-ecro-outer">
        <div class="geomethry">
                <div class="geomethry-inner">
                <img src="@@img-lnk-startimg/pics/path.png" alt="">
            </div>
            </div>
<div class="about-ecro parralax-parent">
    <div class="left-part parralax-element" data-speed="2.3">
        <img src="@@img-lnk-startimg/pics/about-ecro.png" alt="" />
    </div>
    
    <div class="right-part parralax-element" data-speed="1.7">
        <div class="right-part-wrap">
            <p class="caption">@@head</p>
            <p class="descript">@@desc</p>
            <ul class="ecosystem-list">
                <li>
                    <span>@@item1</span>
                </li>
                <li>
                    <span>@@item2</span>
                </li>
                <li>
                    <span>@@item3</span>
                </li>
                <li>
                    <span>@@item4</span>
                </li>
                <li>
                    <span>@@item5</span>
                </li>
                <li>
                    <span>@@item6</span>
                </li>
                <li>
                    <span>@@item7</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>