<div class="about-ecro">
    <div class="left-part">
        <img src="img/pics/about-ecro.png" alt="" />
    </div>
    <div class="right-part">
        <div class="right-part-wrap">
            <p class="caption">Экосистема Экро</p>
            <p class="descript">Это инвесторы, производители товаров и услуг и потребители в одном лице. Это место, где аккумулируются ресурсы в виде финансов, материальных ценностей, интеллектуальных ценностей и направляются для реализации проектов комьюнити, для удовлетворения потребности каждого участника комьюнити ЭКРО, используя платформу ЭКРОФОНД.</p>
        </div>
    </div>
</div>