<div class="academy-images-block">
    <div class="left-part">
        <div class="img-wr first parralax-element" data-speed="3">
            <img src="@@img1" alt="">
        </div>
        <div class="img-wr second parralax-element" data-speed="5">
            <img src="@@img4" alt="">
        </div>
    </div>
    <div class="right-part">
        <div class="img-wr third parralax-element" data-speed="3">
            <img src="@@img2" alt="">
        </div>
        <div class="img-wr four parralax-element" data-speed="5">
            <img src="@@img3" alt="">
        </div>
    </div>
</div>