<div class="academy-images-block">
    <div class="left-part">
        <div class="img-wr first">
            <img src="img/pics/img1.png" alt="">
        </div>
        <div class="img-wr second">
            <img src="img/pics/img4.png" alt="">
        </div>
    </div>
    <div class="right-part">
        <div class="img-wr third">
            <img src="img/pics/img2.png" alt="">
        </div>
        <div class="img-wr four">
            <img src="img/pics/img3.png" alt="">
        </div>
    </div>
</div>