<div class="academy-images-block">
    <div class="left-part">
        <div class="img-wr first parralax-element" data-speed="3">
            <img src="img/pics/img1.png" alt="">
        </div>
        <div class="img-wr second parralax-element" data-speed="5">
            <img src="img/pics/img4.png" alt="">
        </div>
    </div>
    <div class="right-part">
        <div class="img-wr third parralax-element" data-speed="3">
            <img src="img/pics/img2.png" alt="">
        </div>
        <div class="img-wr four parralax-element" data-speed="5">
            <img src="img/pics/img3.png" alt="">
        </div>
    </div>
</div>