<div class="benefit">
    <div class="caption">
        <span>Выгода для покупателя</span>
    </div>
    <div class="column-half">
        <div class="benefit-item">
            <div class="img-wrap">
                <img src="img/pics/benefit-1.svg" alt="" />
            </div>
            <p>ECRO прост в использовании и понятен любому пользователю, который совершает покупки через интернет.</p>
            <p>Помимо этого работа на ECRO дает полную гарантию сохранности средств покупателей и безопасности проводимых сделок благодаря использованию технологии блокчейн.</p>
        </div>
    </div>
    <div class="column-half">

    </div>
    <div class="caption">
        <span>Выгода для продавца</span>
    </div>
</div>