<div class="benefit parralax-parent">
    <div class="caption parralax-element" data-speed="2.3">
        <span>@@head</span>
    </div>
    <div class="column-half left-half parralax-element" data-speed="3.8">
        @@include('_benefit-item.html',{
            "img": "../img/pics/benefit-1.svg",
            "text-1": "ECRO mudah digunakan dan dapat dilihat oleh setiap pengguna yang melakukan pembelian melalui Internet.",
            "text-2": "Selain itu, bekerja dengan ECRO memberikan jaminan keamanan dana pelanggan dan keamanan transaksi melalui penggunaan teknologi blockchain."
        })
        <div class="img-wrapper parralax-element" data-speed="1.8">
            <img src="@@img-lnk-startimg/pics/benefit-img-2.png" alt="" />
        </div>
    </div>
    <div class="column-half right-half girl-wrap parralax-element" data-speed="2.3">
        <div class="img-wrapper parralax-element" data-speed="1.8">
            <img src="@@img-lnk-startimg/pics/benefit-img-1.png" alt="" />
        </div>
        @@include('_benefit-item.html',{
            "img": "../img/pics/girl.png",
            "text-1": "Asisten online terintegrasi ECRA berdasarkan kecerdasan buatan membantu Anda dengan cepat menemukan produk yang Anda inginkan dan melakukan transaksi yang cepat dan aman secara instan.",
            "text-2": "ECRA menganalisis indikator permintaan pasar untuk menawarkan kepada pengguna produk yang ingin mereka lihat dan beli. Pembeli memiliki pilihan besar di antara beragam produk, mulai dari kebutuhan pokok hingga peralatan yang rumit dan mahal, mobil, dan bahkan real estat. Dan, tentu saja, Anda dapat menggunakan mata uang digital sebagai alat pembayaran."
        })
    </div>
    <div class="caption trader parralax-element" data-speed="2.3">
        <span>@@trader-head</span>
    </div>
    <div class="column-half left-half item-3 parralax-element" data-speed="3.8">
        @@include('_benefit-item.html',{
            "img": "../img/pics/benefit-3.svg",
            "text-1": "ECRO membantu pemilik bisnis memperluas audiensi mereka dan menjangkau pelanggan baru melalui akses ke komunitas besar di seluruh dunia.",
            "text-2": "Saat Anda dapat mengadopsi penggunaan teknologi blockchain, Anda dapat menghindari perantara rantai komersial yang tidak perlu yang sepenuhnya memecahkan masalah kepercayaan di antara mitra."
        })
    </div>
    <div class="column-half right-half item-4 parralax-element" data-speed="2.3">
        @@include('_benefit-item.html',{
            "img": "../img/pics/benefit-4.svg",
            "text-1": "Penjual menerima semua modul dasar yang memungkinkan mereka untuk menempatkan dan menyajikan produk atau layanan mereka, serta menerima, memformalkan dan melayani pesanan, termasuk pedagang crypto, yang memungkinkan kemungkinan menerima pembayaran dalam mata uang digital.",
            "text-2": "Selain itu, pasar ECRO Marketplace membantu penjual mengembangkan strategi pemasaran individu untuk mempromosikan produk dan layanan mereka."
        })
    </div>
    
</div>
