<div class="benefit parralax-parent">
    <div class="caption parralax-element" data-speed="2.3">
        <span>@@head</span>
    </div>
    <div class="column-half left-half parralax-element" data-speed="3.8">
        @@include('_benefit-item.html',{
            "img": "../img/pics/benefit-1.svg",
            "text-1": "Экро прост в использовании и понятен любому пользователю, который совершает покупки через интернет.",
            "text-2": "Помимо этого работа с Экро дает гарантию средств покупателей и безопасности проводимых сделок благодаря использованию технологии блокчейн."
        })
        <div class="img-wrapper parralax-element" data-speed="1.8">
            <img src="@@img-lnk-startimg/pics/benefit-img-2.png" alt="" />
        </div>
    </div>
    <div class="column-half right-half girl-wrap parralax-element" data-speed="2.3">
        <div class="img-wrapper parralax-element" data-speed="1.8">
            <img src="@@img-lnk-startimg/pics/benefit-img-1.png" alt="" />
        </div>
        @@include('_benefit-item.html',{
            "img": "../img/pics/girl.png",
            "text-1": "Встроенный онлайн-ассистент Экра на базе искусственного интеллекта поможет быстро найти желаемый товар и мгновенно совершить безопасную сделку.",
            "text-2": "Экра анализирует показатели рыночного спроса, чтобы предлагать пользователям кросс-товары. Покупатели имеют огромный выбор товаров - от предметов первой необходимости до сложной и дорогой техники, автомобилей и даже недвижимости - с возможностью оплаты криптовалютой."
        })
    </div>
    <div class="caption trader parralax-element" data-speed="2.3">
        <span>@@trader-head</span>
    </div>
    <div class="column-half left-half item-3 parralax-element" data-speed="3.8">
        @@include('_benefit-item.html',{
            "img": "../img/pics/benefit-3.svg",
            "text-1": "Ecro помогает владельцам бизнеса расширить аудиторию и найти новых клиентов благодаря доступу к обширному сообществу проекта по всему миру.",
            "text-2": "Использование технологий блокчейн устраняет из торговой цепочки ненужных посредников и полностью решает проблему доверия между контрагентами."
        })
    </div>
    <div class="column-half right-half item-4 parralax-element" data-speed="2.3">
        @@include('_benefit-item.html',{
            "img": "../img/pics/benefit-4.svg",
            "text-1": "Продавцы получают все базовые модули, позволяющие разместить и предоставить свои товары или услуги, принять, оформить и обслужить заказы, в том числе крипто-мерчанты, которые позволяют принимать платежи в криптовалюте.",
            "text-2": "Помимо этого, маркетплейс Ecro помогает продавцам выстроить индивидуальную маркетинговую стратегию для продвижения товаров и услуг."
        })
    </div>
    
</div>
