<div class="benefit parralax-parent">
    <div class="caption parralax-element" data-speed="2.3">
        <span>@@head</span>
    </div>
    <div class="column-half left-half parralax-element" data-speed="3.8">
        @@include('_benefit-item.html',{
            "img": "img/pics/benefit-1.svg",
            "text-1": "ECRO is easy to use and clear to any user who makes purchases through the Internet.",
            "text-2": "In addition, working with ECRO provides a guarantee of customer funds safety and the security of transactions due to the use of blockchain technology."
        })
        <div class="img-wrapper parralax-element" data-speed="1.8">
            <img src="@@img-lnk-startimg/pics/benefit-img-2.png" alt="" />
        </div>
    </div>
    <div class="column-half right-half girl-wrap parralax-element" data-speed="2.3">
        <div class="img-wrapper parralax-element" data-speed="1.8">
            <img src="@@img-lnk-startimg/pics/benefit-img-1.png" alt="" />
        </div>
        @@include('_benefit-item.html',{
            "img": "img/pics/girl.png",
            "text-1": "Built-in online assistant ECRA based on artificial intelligence helps you quickly find the desired product and instantly make a safe transaction. ",
            "text-2": "ECRA analyzes market demand indicators to offer users cross-products. Buyers have a huge choice of goods - from basic necessities to complex and expensive equipment, cars and even real estate - with the possibility of paying with cryptocurrency."
        })
    </div>
    <div class="caption trader parralax-element" data-speed="2.3">
        <span>@@trader-head</span>
    </div>
    <div class="column-half left-half item-3 parralax-element" data-speed="3.8">
        @@include('_benefit-item.html',{
            "img": "img/pics/benefit-3.svg",
            "text-1": "ECRO helps business owners expand their audience and find new customers through access to a vast project community around the world.",
            "text-2": "The use of blockchain technologies eliminates unnecessary intermediaries from the trading chain and completely solves the trust problem between counterparties."
        })
    </div>
    <div class="column-half right-half item-4 parralax-element" data-speed="2.3">
        @@include('_benefit-item.html',{
            "img": "img/pics/benefit-4.svg",
            "text-1": "Sellers receive all the basic modules that allow them to place and present their goods or services, accept, formalize and service orders, including crypto-merchants, which allow you to accept payments in cryptocurrency.",
            "text-2": "In addition, ECRO marketplace helps sellers build an individual marketing strategy for promoting their goods and services."
        })
    </div>
    
</div>