<div class="benefit parralax-parent">
        <div class="caption parralax-element" data-speed="2.3">
            <span>@@head</span>
        </div>
        <div class="column-half left-half parralax-element" data-speed="3.8">
            @@include('_benefit-item.html',{
                "img": "../img/pics/benefit-1.svg",
                "text-1": "Ecro는 인터넷을 통해 구매하는 모든 사용자들한테  사용하는 방법을 이해하기 쉽습니다.",
                "text-2": "에크로와 협력하면 블록체인 테크놀로지를 사용하여 고객 자금과 거래 보안을 보장 합니다."
            })
            <div class="img-wrapper parralax-element" data-speed="1.8">
                <img src="../img/pics/benefit-img-2.png" alt="" />
            </div>
        </div>
        <div class="column-half right-half girl-wrap parralax-element" data-speed="2.3">
            <div class="img-wrapper parralax-element" data-speed="1.8">
                <img src="../img/pics/benefit-img-1.png" alt="" />
            </div>
            @@include('_benefit-item.html',{
                "img": "../img/pics/girl.png",
                "text-1": "인공 지능으로 기반되는는 내장 온라인 어시스턴트 에크로를 사용하면 원하는 제품을 신속하게 찾고 즉시 안전한 거래를 할 수 있습니다.",
                "text-2": "에크로는 시장 수요 지표를 분석하여 사용자에게 크로스 제품을 제공합니다.구매자는 암호화폐로 기본 필수품부터 복잡하고 비싼 장비, 자동차 및 부동산까지  다양한 상품을 계산할 수 있습니다."
            })
        </div>
        <div class="caption trader parralax-element" data-speed="2.3">
            <span>@@trader-head</span>
        </div>
        <div class="column-half left-half item-3 parralax-element" data-speed="3.8">
            @@include('_benefit-item.html',{
                "img": "../img/pics/benefit-3.svg",
                "text-1": "에크로는 전 세계의 광대한 프로젝트의 커뮤니티에 액세스 덕분에 비즈니스 소유자들한테 청중 확대하고 새로운 고객을 찾을 수 있도록 도와줍니다.",
                "text-2": "테크놀로지를 사용하면 거래 체인에서 필요없는 중개자를 제거하고 거래처끼리 신뢰 문제를 완전히 해결됩니다."
            })
        </div>
        <div class="column-half right-half item-4 parralax-element" data-speed="2.3">
            @@include('_benefit-item.html',{
                "img": "../img/pics/benefit-4.svg",
                "text-1": "판매자들은 판매자는 상품 또는 서비스를 제공하고 주문을 접수, 배치 및 서비스 할 수있고 암호화폐로 지불을 수락 할 수있는 암호화 상인 모든 기본 모듈을받습니다.",
                "text-2": "또한 에크로 마켓플레이스는 판매자가 상품 및 서비스를 홍보하기위해 개별 마케팅 전략을 세우도록 도와줍니다."
            })
        </div>
        
    </div>