<div class="benefit">
    <div class="caption">
        <span>Выгода для покупателя</span>
    </div>
    <div class="column-half left-half">
        @@include('_benefit-item.html',{
            "img": "img/pics/benefit-1.svg",
            "text-1": "ECRO прост в использовании и понятен любому пользователю, который совершает покупки через интернет.",
            "text-2": "Помимо этого работа на ECRO дает полную гарантию сохранности средств покупателей и безопасности проводимых сделок благодаря использованию технологии блокчейн."
        })
        <div class="img-wrapper">
            <img src="img/pics/benefit-img-2.png" alt="" />
        </div>
    </div>
    <div class="column-half right-half">
        <div class="img-wrapper">
            <img src="img/pics/benefit-img-1.png" alt="" />
        </div>
        @@include('_benefit-item.html',{
            "img": "img/pics/benefit-1.svg",
            "text-1": "Встроенный онлайн-ассистент ECRA на базе искусственного интеллекта поможет быстро найти желаемый товар и мгновенно совершить безопасную сделку.",
            "text-2": "ECRA анализирует показатели рыночного спроса, чтобы предлагать участникам кросс-товары. Покупатели имеют огромный выбор товаров — от предметов первой необходимости до дорогой и сложной техники, автомобилей и даже недвижимости — с возможностью оплаты криптовалютой."
        })
    </div>
    <div class="caption">
        <span>Выгода для продавца</span>
    </div>
    <div class="column-half left-half">
        @@include('_benefit-item.html',{
            "img": "img/pics/benefit-3.svg",
            "text-1": "ECRO помогает владельцам бизнеса расширить аудиторию и найти новых клиентов благодаря доступу к обширному сообществу проекта по всему миру.",
            "text-2": "Использование технологии блокчейн устраняет из торговой цепочки ненужных посредников и полностью решает проблему доверия между контрагентами."
        })
    </div>
    <div class="column-half right-half">
        @@include('_benefit-item.html',{
            "img": "img/pics/benefit-4.svg",
            "text-1": "Продавцы получают все базовые модули, позволяющие разместить и представить свои товары или услуги, принять, оформить и обслужить заказы, в том числе крипто-мерчанты, которые позволяют принимать платежи в криптовалюте.",
            "text-2": "Помимо этого, маркетплейс ECRO помогает продавцам выстроить индивидуальную маркетинговую стратегию для продвижения товаров и услуг."
        })
    </div>
</div>