<div class="benefit parralax-parent">
    <div class="caption parralax-element" data-speed="2.3">
        <span>@@head</span>
    </div>
    <div class="column-half left-half parralax-element" data-speed="3.8">
        @@include('_benefit-item.html',{
            "img": "../img/pics/benefit-1.svg",
            "text-1": "ECRO es fácil de usar y perceptible para cualquier usuario que realice compras a través de Internet.",
            "text-2": "Además, trabajar con ECRO proporciona una garantía de seguridad de los fondos del cliente y la seguridad de las transacciones gracias al uso de la tecnología blockchain."
        })
        <div class="img-wrapper parralax-element" data-speed="1.8">
            <img src="@@img-lnk-startimg/pics/benefit-img-2.png" alt="" />
        </div>
    </div>
    <div class="column-half right-half girl-wrap parralax-element" data-speed="2.3">
        <div class="img-wrapper parralax-element" data-speed="1.8">
            <img src="@@img-lnk-startimg/pics/benefit-img-1.png" alt="" />
        </div>
        @@include('_benefit-item.html',{
            "img": "../img/pics/girl.png",
            "text-1": "El asistente en línea integrado ECRA basado en inteligencia artificial le ayuda a Usted a encontrar rápidamente el producto que desea y realizar una transacción rápida y segura al instante.",
            "text-2": "ECRA analiza los indicadores de demanda del mercado para ofrecer a los usuarios los productos que quieren ver y comprar. Los compradores tienen una gran opción entre una amplia gama de productos, desde necesidades básicas hasta equipos complejos y costosos, automóviles e incluso bienes raíces. Y, por supuesto, puede usar una criptomoneda como medio de pago."
        })
    </div>
    <div class="caption trader parralax-element" data-speed="2.3">
        <span>@@trader-head</span>
    </div>
    <div class="column-half left-half item-3 parralax-element" data-speed="3.8">
        @@include('_benefit-item.html',{
            "img": "../img/pics/benefit-3.svg",
            "text-1": "ECRO ayuda a los dueños de negocios a expandir su audiencia y llegar a nuevos clientes a través del acceso a una gran comunidad en todo el mundo.",
            "text-2": "Cuando puede adoptar el uso de tecnologías blockchain, puede evitar intermediarios innecesarios de la cadena comercial que resuelve completamente el problema de confianza entre las contrapartes."
        })
    </div>
    <div class="column-half right-half item-4 parralax-element" data-speed="2.3">
        @@include('_benefit-item.html',{
            "img": "../img/pics/benefit-4.svg",
            "text-1": "Los vendedores reciben todos los módulos básicos que les permiten colocar y presentar sus productos o servicios, así como aceptar, formalizar y servir pedidos, incluidos los criptocomerciantes, que permiten la posibilidad de aceptar pagos en criptomonedas.",
            "text-2": "Además, el mercado de ECRO Marketplace ayuda a los vendedores a desarrollar una estrategia de marketing individual para promocionar sus productos y servicios."
        })
    </div>
    
</div>
