<div class="benefit parralax-parent">
        <div class="caption parralax-element" data-speed="2.3">
            <span>@@head</span>
        </div>
        <div class="column-half left-half parralax-element" data-speed="3.8">
            @@include('_benefit-item.html',{
                "img": "../img/pics/benefit-1.svg",
                "text-1": "ECRO, İnternet üzerinden alışveriş yapan herhangi bir kullanıcı için kullanımı kolay ve basittir.",
                "text-2": "Ek olarak, ECRO ile çalışmak, blok zinciri teknolojisini kullanarak müşteri para güvenliği ve işlem güvenliği garantisi verir."
            })
            <div class="img-wrapper parralax-element" data-speed="1.8">
                <img src="../img/pics/benefit-img-2.png" alt="" />
            </div>
        </div>
        <div class="column-half right-half girl-wrap parralax-element" data-speed="2.3">
            <div class="img-wrapper parralax-element" data-speed="1.8">
                <img src="../img/pics/benefit-img-1.png" alt="" />
            </div>
            @@include('_benefit-item.html',{
                "img": "../img/pics/girl.png",
                "text-1": "Yapay zekaya dayalı ECRA entegre çevrimiçi asistanı (yardımcı), istediğiniz ürünü hızlı bir şekilde bulmanıza ve anında çabuk ve güvenli bir işlem yapmanıza yardımcı olur.",
                "text-2": "ECRA, kullanıcılara almak istedikleri ürünleri sunmak için piyasa talebi göstergelerini analiz eder. Alıcılar, temel ihtiyaçlardan karmaşık ve pahalı ekipmanlara, arabalara ve hatta gayrimenkullere kadar geniş bir ürün yelpazesi arasında mükemmel bir seçim yapması sağlanır. Ve elbette, ödeme aracı olarak bir kripto para birimi kullanabilirsiniz."
            })
        </div>
        <div class="caption trader parralax-element" data-speed="2.3">
            <span>@@trader-head</span>
        </div>
        <div class="column-half left-half item-3 parralax-element" data-speed="3.8">
            @@include('_benefit-item.html',{
                "img": "../img/pics/benefit-3.svg",
                "text-1": "ECRO, işletme sahiplerinin hedef kitlelerini genişletmelerine ve dünya çapındaki geniş bir topluluğa erişim yoluyla yeni müşterilere ulaşmalarına yardımcı oluyor.",
                "text-2": "Blockchain teknolojilerinin kullanımın tadını çıkarmaya başladığınızda, meslektaşları arasındaki güven sorununu tamamen çözen ticari zincirin gereksiz aracılarına hiç ihtiyaç duymayacaksınız."
            })
        </div>
        <div class="column-half right-half item-4 parralax-element" data-speed="2.3">
            @@include('_benefit-item.html',{
                "img": "../img/pics/benefit-4.svg",
                "text-1": "Satıcılar, ürün veya hizmetlerini yerleştirmelerine ve sunmalarına ve kripto para birimlerinde ödemeleri kabul etme olasılığına izin veren kripto tüccarları da dahil olmak üzere siparişleri kabul etme, resmileştirme ve sunmalarını sağlayan tüm temel modülleri alırlar.",
                "text-2": "Ek olarak, ECRO Marketplace pazarı, satıcıların ürün ve hizmetlerini tanıtmak için bireysel pazarlama stratejisi geliştirmelerine yardımcı olur."
            })
        </div>
        
    </div>