
<div class="ecro-academy">
    <div class="logo-ecro">
        <span class="text-logo">ECROAcademy</span>
    </div>
    <div class="txt-part">
        <div class="title-block">
            <h3>ECRO Academy</h3>
        </div>
        <div class="description-part">
            <p>Образовательная платформа, предлагающая инструменты для улучшения финансовой грамотности в вопросах блокчейн.</p>
        </div>
    </div>
</div>

<div class="ecro-academy-img">
    <div class="img-wr">
        <img src="img/pics/review.png" alt="">
    </div>
    <div class="ref-rectangle-wr">
        <div class="ref-rectangle green">
            <span>Депозиты за <br>Октябрь</span>
            <p>$140750.05</p>
        </div>
        <div class="ref-rectangle blue">
            <span>Человек <br>в структуре</span>
            <p>10516</p>
        </div>
    </div>
</div>
