
<div class="ecro-academy">
    <div class="logo-ecro parralax-element" data-speed="4">
        <span class="text-logo">@@logo</span>
    </div>
    <div class="txt-part">
        <div class="title-block parralax-element" data-speed="2.3">
            <h3>@@head</h3>
        </div>
        <div class="description-part parralax-element" data-speed="2">
            <p>@@txt</p>
        </div>
    </div>
</div>

<div class="ecro-academy-img parralax-element" data-speed="3">
    <div class="img-wr">
        <img src="@@img" alt="">
    </div>
    <div class="ref-rectangle-wr">
        <div class="ref-rectangle green">
            <span>@@rect1</span>
            <p>$140750.05</p>
        </div>
        <div class="ref-rectangle blue">
            <span>@@rect2</span>
            <p>10516</p>
        </div>
    </div>
</div>
