<div class="features">
    <div class="caption parralax-element" data-speed="2.3">
        <p>@@head</p>
    </div>
    
    <div class="features-wrap parralax-element" data-speed="3.3">
        <div class="features-item">
            <img src="@@img-lnk-startimg/pics/features-1.svg" alt="" />
            <p>@@item1-head</p>
            <p class="description">@@item1-description</p>
        </div>
        <div class="features-item">
            <img src="@@img-lnk-startimg/pics/features-3.svg" alt="" />
            <p>@@item2-head</p>
            <p class="description">@@item2-description</p>
        </div>
        <!-- <div class="features-item">
            <img src="img/pics/features-3.svg" alt="" />
            <p>@@item3-head</p>
            <p class="description">item3-description</p>
        </div> -->
    </div>
</div>