<div class="features">
    <div class="caption">
        <p>Особенности Академии</p>
    </div>
    <div class="description">
        <p>Экросистем - посредническая, объединяющая комьюнити платформа, через которую будут реализованы услуги и проекты комьюнити.</p>
    </div>
    <div class="features-wrap">
        <div class="features-item">
            <img src="img/pics/features-1.svg" alt="" />
            <p class="caption">Маркетинговое обучение</p>
            <p class="description"></p>
        </div>
        <div class="features-item">
            <img src="img/pics/features-2.svg" alt="" />
            <p class="caption">Детский планшет</p>
            <p class="description">Для повышения усвоения информации и удержания внимания</p>
        </div>
        <div class="features-item">
            <img src="img/pics/features-3.svg" alt="" />
            <p class="caption">Подготовка кадров</p>
            <p class="description">Для расширения и масштабирования проекта</p>
        </div>
    </div>
</div>