<div class="fs-container parralax-parent">
    <div class="item-fs first">
        <div class="dot">
            <div class="line">
                <svg xmlns="http://www.w3.org/2000/svg" width="59.408" height="21.96" viewBox="0 0 59.408 21.96">
                    <path id="Path_249" data-name="Path 249" d="M-1304.489-158.839l21.107-21.107h37.948"
                        transform="translate(1304.843 180.445)" fill="none" stroke="#fff" stroke-width="1" />
                </svg>
            </div>
        </div>
        <div class="txt-wr">
            <div class="head">
                <span>@@item-head1</span>
            </div>
            <div class="txt">
                <span>@@item-desc1</span>
            </div>
        </div>
    </div>
    <div class="item-fs second">
        <div class="dot">
            <div class="line">
                <svg xmlns="http://www.w3.org/2000/svg" width="59.408" height="21.96" viewBox="0 0 59.408 21.96">
                    <path id="Path_249" data-name="Path 249" d="M-1304.489-158.839l21.107-21.107h37.948"
                        transform="translate(1304.843 180.445)" fill="none" stroke="#fff" stroke-width="1" />
                </svg>
            </div>
        </div>
        <div class="txt-wr">
            <div class="head">
                <span>@@item-head2</span>
            </div>
            <div class="txt">
                <span>@@item-desc2</span>
            </div>
        </div>
    </div>
    <div class="item-fs third">
        <div class="dot">
            <div class="line">
                <svg xmlns="http://www.w3.org/2000/svg" width="59.408" height="21.96" viewBox="0 0 59.408 21.96">
                    <path id="Path_249" data-name="Path 249" d="M-1304.489-158.839l21.107-21.107h37.948"
                        transform="translate(1304.843 180.445)" fill="none" stroke="#fff" stroke-width="1" />
                </svg>
            </div>
        </div>
        <div class="txt-wr">
            <div class="head">
                <span>@@item-head3</span>
            </div>
            <div class="txt">
                <span>@@item-desc3</span>
            </div>
        </div>
    </div>
    <div class="item-fs four">
        <div class="dot">
            <div class="line">
                <svg xmlns="http://www.w3.org/2000/svg" width="59.408" height="21.96" viewBox="0 0 59.408 21.96">
                    <path id="Path_249" data-name="Path 249" d="M-1304.489-158.839l21.107-21.107h37.948"
                        transform="translate(1304.843 180.445)" fill="none" stroke="#fff" stroke-width="1" />
                </svg>
            </div>
        </div>
        <div class="txt-wr">
            <div class="head">
                <span>@@item-head4</span>
            </div>
            <div class="txt">
                <span>@@item-desc4</span>
            </div>
        </div>
    </div>
    <div class="img-container">
        <img src="@@img-lnk-startimg/pics/fs.png" alt="">
    </div>
    <h1 class="parralax-element" data-speed="2.3">@@head</h1>
    <div class="learn-more">
        <p class="parralax-element more-txt" data-speed="2.3">@@more</p>
    </div>
</div>