<head>
    <title>ECROSystem</title>
    <meta name="description" content="Smart Chain Generation">
    <!-- Main Meta information-->
    <meta charset="utf-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, user-scalable=yes" />

    <!-- Meta Information-->
    <meta name="robots" content="index, follow" />

    <link type="text/plain" rel="author" href="humans.txt" />
    <!-- Get html5shiv if this is IE lower or equal to 9-->
    <!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="@@style-lnkcss/main.min.css" />
</head>