<header class="header">
    <div class="header-item">
        <img src="img/pics/eps.svg" alt=""/>
    </div>
    <div class="header-item">
        <p>Сайт обновится через:
            <span>10д 18ч 19м</span>
        </p>
    </div>
    <div class="header-item">
        <p>Подписывайся на уведомления</p>
    </div>
    <div class="header-item">
        <button class="subscribe">
            <span>Подписаться</span>
        </button>
        <button class="language">
            <span>Русский</span>
        </button>
    </div>
</header>