<header class="header">
    <div class="container">
        <div class="info-wrap">
            <div class="header-item logo-wr">
                <img src="img/pics/eps.svg" alt=""/>
            </div>
            <div class="header-item m-none">
                <p class="main-font">Сайт обновится через:
                    <span class="counter">10д 18ч 19м</span>
                </p>
            </div>
            <div class="header-item m-none">
                <p class="main-font">Подписывайся на уведомления</p>
            </div>
        </div>
        <div class="header-item button-wrap">
            <button class="subscribe">
                <span>Подписаться</span>
            </button>
            <button class="language">
                <span class="main-font">Русский</span>
            </button>
        </div>
    </div>
</header> 