<div class="integration">
    <div class="caption">
        <p>Интеграция с продуктами компании ECRO</p>
    </div>
    <div class="int-body">
        <div class="int-item">
            <img src="img/pics/puzzle.svg" alt="" />
            <p>Децентрализованный крипто-кошелек</p>
        </div>
        <div class="int-item">
            <img src="img/pics/puzzle.svg" alt="" />
            <p>Технология атомарных свопов</p>
        </div>
        <div class="int-item">
            <img src="img/pics/puzzle.svg" alt="" />
            <p>Конструктор монет</p>
        </div>
        <div class="int-item">
            <img src="img/pics/puzzle.svg" alt="" />
            <p>Автоматический листинг на платформе</p>
        </div>
        <div class="int-item">
            <img src="img/pics/puzzle.svg" alt="" />
            <p>Использование блокчейнов EDC Blockchain, Bitcoin и Ethereum</p>
        </div>
    </div>
</div>