<div class="integration">
    <div class="caption parralax-element" data-speed="2.9">
        <p>@@head</p>
    </div>
    <div class="int-body parralax-element" data-speed="2.4">
        <div class="int-item">
            <img src="@@img-lnk-startimg/pics/puzzle.svg" alt="" />
            <p>@@txt1</p>
        </div>
        <div class="int-item">
            <img src="@@img-lnk-startimg/pics/puzzle.svg" alt="" />
            <p>@@txt2</p>
        </div>
        <div class="int-item">
            <img src="@@img-lnk-startimg/pics/puzzle.svg" alt="" />
            <p>@@txt3</p>
        </div>
        <div class="int-item">
            <img src="@@img-lnk-startimg/pics/puzzle.svg" alt="" />
            <p>@@txt4</p>
        </div>
        <div class="int-item">
            <img src="@@img-lnk-startimg/pics/puzzle.svg" alt="" />
            <p>@@txt5</p>
        </div>
    </div>
    <div class="img-decor parralax-element" data-speed="10">
        <img src="@@img-lnk-startimg/pics/flowers.png" alt="" />
    </div>
</div>