<div class="modal" id="subscribe-modal">

    <div class="modal-inner">
        <div class="modal-overlay close-trigger"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn">
                <div></div>
            </div>
            <div class="title">
                <p>@@subsc-head</p>
            </div>
            <div class="description">
                <p>@@subsc-descr</p>
            </div>
            <form action="/send.php">
                <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="@@subsc-placeholder" class="reqiered-field" name="email">
                    </div>
                    <span class="valid-error"></span>
                </div>

                <div class="button-wr">
                    <button type="submit"><span>@@subsc-btn</span></button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal thk-modal" id="thk-modal">

    <div class="modal-inner">
        <div class="modal-overlay close-trigger"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn">
                <div></div>
            </div>
            <div class="title">
                <p>@@succes-head</p>
            </div>
            <div class="button-wr close-trigger">
                <button><span>OK</span></button>
            </div>
        </div>
    </div>
</div>



<div class="modal err-modal" id="err-modal">

    <div class="modal-inner">
        <div class="modal-overlay close-trigger"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn">
                <div></div>
            </div>
            <div class="title">
                <p>@@err-head</p>
            </div>
            <div class="description">
                <p>@@err-desc</p>
            </div>
            <div class="button-wr close-trigger">
                <button><span>OK</span></button>
            </div>
        </div>
    </div>
</div>