<div class="our-products parralax-parent">
    <div class="product-container parralax-element" data-speed="1.8">
        <div class="img-wrap">
            <img src="img/pics/our-products.png" alt="" />
        </div>
        <div class="caption">
            <span>@@head</span>
        </div>
    </div>
    <div class="products parralax-element" data-speed="2">
        <div class="product-wrap">
            <div class="column-1">
                <img src="img/pics/logo-ecro.png" alt="" />
            </div>
            <div class="column-1">
                <span>@@txt1</span>
            </div>
            <div class="column-1">
                <img src="img/pics/logo-2.svg" alt="" />
            </div>
            <div class="column-1">
                <span>@@txt2</span>
            </div>
        </div>
    </div>
</div>