<div class="our-products">
    <div class="product-container">
        <div class="img-wrap">
            <img src="img/pics/our-products.png" alt="" />
        </div>
        <div class="caption">
            <span>Наши продукты</span>
        </div>
    </div>
    <div class="products">
        <div class="product-wrap">
            <div class="column-1">
                <img src="img/pics/logo-ecro.svg" alt="" />
            </div>
            <div class="column-1">
                <span>ЭКРОАкадемия</span>
            </div>
            <div class="column-1">
                <img src="img/pics/logo-2.svg" alt="" />
            </div>
            <div class="column-1">
                <span>BitcoBit</span>
            </div>
        </div>
    </div>
</div>