<div class="p2p-detail">
    <div class="left-part parralax-element" data-speed="2">
        <img src="img/pics/p2p-mob.png" alt="">
    </div>
    <div class="right-part parralax-element" data-speed="4">
        <h3>@@head</h3>
        <ul class="p2p-detail-list">
            <li><span>@@list1</span></li>
            <li><span>@@list2</span></li>
            <li><span>@@list3</span></li>
            <li><span>@@list4</span></li>
        </ul>
    </div>
</div>
<div class="p2p-detail-img-wr">
  <div class="decor-element parralax-element" data-speed="1.6">
            <img src="img/pics/preview5.png" alt="">
        </div>
        <div class="p2p-detail-img parralax-element"  data-speed="2.3" >
        
      <img class="" src="img/pics/exchange.png"alt="">
  </div>
</div>