<div class="p2p-detail">
    <div class="left-part">
        <img src="img/pics/p2p-mob.png" alt="">
    </div>
    <div class="right-part">
        <h3>2ab2 Это</h3>
        <ul class="p2p-detail-list">
            <li><span>Децентрализация </span></li>
            <li><span>Безопасность</span></li>
            <li><span>Обмен крипто-активов по всему миру</span></li>
            <li><span>Получение средств наиболее удобным способом</span></li>
        </ul>
    </div>
</div>
<div class="p2p-detail-img-wr">
  <div class="decor-element">
            <img src="img/pics/preview5.png" alt="">
        </div>
        <div class="p2p-detail-img">
        
      <img src="img/pics/exchange.png" alt="">
  </div>
</div>