<div class="p2p">
    <div class="logo-ecro">
        <img src="img/pics/2ab2.svg" alt="">
    </div>
    <div class="txt-part">
        <div class="title-block">
            <h3>Р2Р-биржа</h3>
        </div>
        <div class="description-part">
            <p>Обменная платформа для прямого взаимодействия получателей и отправителей активов с функцией “Безопасного платежа”.</p>
        </div>
    </div>
</div>

<div class="p2p-imgs">
    <div class="p2p-imgs-items stat1">
        <img src="img/pics/i2.png" alt="">
    </div>
    <div class="p2p-imgs-items abs abs1">
        <img src="img/pics/i3.png" alt="">
    </div>
    <div class="p2p-imgs-items abs abs2">
        <img src="img/pics/i1.png" alt="">
    </div>
</div>