<ul class="side-menu">
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#marketplace">
            <span>ECRO Marketplace</span>
        </a>
    </li>
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#ecro-academy">
            <span>ECRO Academy</span>
        </a>
    </li>
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#p2p">
            <span>Р2Р-биржа</span>
        </a>
    </li>
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#statistic">
            <span>BitcoBit</span>
        </a>
    </li>
</ul>