<ul class="side-menu">
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#">
            <span>ECRO Marketplace</span>
        </a>
    </li>
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#">
            <span>ECRO Academy</span>
        </a>
    </li>
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#">
            <span>Р2Р-биржа</span>
        </a>
    </li>
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#">
            <span>BitcoBit</span>
        </a>
    </li>
</ul>