<ul class="side-menu">
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#marketplace">
            <span>@@lnk1</span>
        </a>
    </li>
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#ecro-academy">
            <span>@@lnk2</span>
        </a>
    </li>
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#p2p">
            <span>@@lnk3</span>
        </a>
    </li>
    <li class="side-menu-item">
        <a class="side-menu-lnk" href="#statistic">
            <span>@@lnk4</span>
        </a>
    </li>
</ul>