<div class="statistic">
    <div class="caption">
        <p>BitcoBit</p>
    </div>
    <div class="column-half left-half">
        <p>BitcoBit</p>
    </div>
    <div class="column-half right-half">
        <p>Удобная и функциональная биржа для трейдинга, купли/продажи различных криптовалют пользователями платформы ECRO и крипто-комьюнити.</p>
    </div>
    <div class="graphic-wrap">
        <div class="img-wrap integer">
            <div class="anti-space">
                <img src="img/pics/statistic-1.png" alt="" />
            </div>
            <div class="grafic-decor">
                <img src="img/pics/preview1.png" alt="" />
            </div>
        </div>
        <div class="img-wrap half-part left-part">
            <div class="anti-space">
                <img src="img/pics/statistic-2.png" alt="" />
            </div>
            <div class="prder-decor">
                <img src="img/pics/our-products.png" alt="" />
            </div>
        </div>
        <div class="img-wrap half-part right-part">
            <div class="anti-space">
                <img src="img/pics/statistic-3.png" alt="" />
            </div>
        </div>
    </div>
</div>