<div class="statistic">
    <div class="caption parralax-element" data-speed="8">
        <p>BitcoBit</p>
    </div>
    <div class="column-half left-half parralax-element" data-speed="3">
        <p>BitcoBit</p>
    </div>
    <div class="column-half right-half parralax-element" data-speed="2.7">
        <p>Удобная и функциональная биржа для трейдинга, купли/продажи различных криптовалют пользователями платформы ECRO и крипто-комьюнити.</p>
    </div>
    <div class="graphic-wrap">
        <div class="img-wrap integer">
            <div class="anti-space parralax-element" data-speed="2.3">
                <img src="img/pics/statistic-1.png" alt="" />
            </div>
            <div class="grafic-decor parralax-element" data-speed="1.6">
                <img src="img/pics/preview1.png" alt="" />
            </div>
        </div>
        <div class="img-wrap half-part left-part">
            <div class="anti-space parralax-element" data-speed="3.3">
                <img src="img/pics/statistic-2.png" alt="" />
            </div>
            <div class="prder-decor parralax-element" data-speed="1.3">
                <img src="img/pics/our-products.png" alt="" />
            </div>
        </div>
        <div class="img-wrap half-part right-part">
            <div class="anti-space parralax-element" data-speed="2.3">
                <img src="img/pics/statistic-3.png" alt="" />
            </div>
        </div>
    </div>
</div>