<div class="timeline-block parralax-parent">
    <div class="timeline-inner">
        <div class="title parralax-element" data-speed="2.3">
            <h3>@@head</h3>
        </div>
        <div class="timeline-wr parralax-element" data-speed="2.8">
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-dot active">
                    <span></span>
                </div>
                <div class="item-title">
                    <p>@@item-head2</p>
                </div>
                <div class="timeline-txt">
                    <p>Старт первого в мире маркетплейса с технологией блокчейн и искусственным интеллектом</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-dot active">
                    <span></span>
                </div>
                <div class="item-title">
                    <p>@@item-head3</p>
                </div>
                <div class="timeline-txt">
                    <p>Старт первого в мире маркетплейса с технологией блокчейн и искусственным интеллектом</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-dot">
                    <span></span>
                </div>
                <div class="item-title">
                    <p>@@item-head4</p>
                </div>
                <div class="timeline-txt">
                    <p>Старт первого в мире маркетплейса с технологией блокчейн и искусственным интеллектом</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-dot">
                    <span></span>
                </div>
                <div class="item-title">
                    <p>@@item-head5</p>
                </div>
                <div class="timeline-txt">
                    <p>Старт первого в мире маркетплейса с технологией блокчейн и искусственным интеллектом</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-dot">
                    <span></span>
                </div>
                <div class="item-title">
                    <p>@@item-head6</p>
                </div>
                <div class="timeline-txt">
                    <p>Старт первого в мире маркетплейса с технологией блокчейн и искусственным интеллектом</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-dot">
                    <span></span>
                </div>
                <div class="item-title">
                    <p>@@item-head7</p>
                </div>
                <div class="timeline-txt">
                    <p>Старт первого в мире маркетплейса с технологией блокчейн и искусственным интеллектом</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>