<div class="welcom-wrap parralax-parent">
    <div class="welcome parralax-element" data-speed="2.3">
        <div class="img-decor-top">
            <img src="@@img-lnk-startimg/pics/preview1.png" alt />
        </div>
        <div class="caption">
            <p>@@head</p>
        </div>
        <div class="wel-body">
            <p>@@description</p>
            <p class="community">1 569 574 
                <span>
                @@people
            </span>
        </p>
            <div class="form-caption">
                <p>@@subscribe</p>
                <div class="img-decor-left">
                    <img src="@@img-lnk-startimg/pics/our-products.png" alt />
                </div>
            </div>
            <form action="/send.php">
                <div class="input-item">
                <label>
                    <input type="text" name="email" placeholder="@@placeholder" class="reqiered-field"/>
                </label>
                <span class="valid-error"></span>
            </div>
                <button type="submit" class="submit">
                    <span>@@subscribe-btn</span>
                </button>
            </form>
        </div>
        <div class="img-decor-bottom">
            <img class="parralax-element" data-speed="1.3" src="@@img-lnk-startimg/pics/flowers.png" alt />
        </div>
    </div>
    <div class="img-decor-planet">
        <div class="item-fs first">
            <div class="dot">
                <div class="line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="59.408" height="21.96" viewBox="0 0 59.408 21.96">
                        <path id="Path_249" data-name="Path 249" d="M-1304.489-158.839l21.107-21.107h37.948"
                            transform="translate(1304.843 180.445)" fill="none" stroke="#fff" stroke-width="1" />
                    </svg>
                </div>
            </div>
            <div class="txt-wr">
                <div class="head">
                    <span>ECRO Market</span>
                </div>
                
            </div>
        </div>
        <div class="item-fs second">
            <div class="dot">
                <div class="line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="59.408" height="21.96" viewBox="0 0 59.408 21.96">
                        <path id="Path_249" data-name="Path 249" d="M-1304.489-158.839l21.107-21.107h37.948"
                            transform="translate(1304.843 180.445)" fill="none" stroke="#fff" stroke-width="1" />
                    </svg>
                </div>
            </div>
            <div class="txt-wr">
                <div class="head">
                    <span>ECROAcademy</span>
                </div>
                
            </div>
        </div>
        <div class="item-fs third">
            <div class="dot">
                <div class="line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="59.408" height="21.96" viewBox="0 0 59.408 21.96">
                        <path id="Path_249" data-name="Path 249" d="M-1304.489-158.839l21.107-21.107h37.948"
                            transform="translate(1304.843 180.445)" fill="none" stroke="#fff" stroke-width="1" />
                    </svg>
                </div>
            </div>
            <div class="txt-wr">
                <div class="head">
                    <span>BitcoBit</span>
                </div>
                
            </div>
        </div>
        <div class="item-fs four">
            <div class="dot">
                <div class="line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="59.408" height="21.96" viewBox="0 0 59.408 21.96">
                        <path id="Path_249" data-name="Path 249" d="M-1304.489-158.839l21.107-21.107h37.948"
                            transform="translate(1304.843 180.445)" fill="none" stroke="#fff" stroke-width="1" />
                    </svg>
                </div>
            </div>
            <div class="txt-wr">
                <div class="head">
                    <span>2ab2</span>
                </div>
                
            </div>
        </div>
        <img src="@@img-lnk-startimg/pics/planet.png" alt />
    </div>
</div>