<div class="welcom-wrap">
    <div class="welcome">
        <div class="img-decor-top">
            <img src="img/pics/preview1.png" alt />
        </div>
        <div class="caption">
            <p>ДОБРО ПОЖАЛОВАТЬ В НАШ МИР!</p>
        </div>
        <div class="wel-body">
            <p>Комьюнити  растет с каждым часом ECROSystem</p>
            <p class="community">1 569 574</p>
            <div class="form-caption">
                <p>Подписывайся на наши обновления</p>
                <div class="img-decor-left">
                    <img src="img/pics/our-products.png" alt />
                </div>
            </div>
            <form>
                <label>
                    <input type="email" name="email" placeholder="Емейл" />
                </label>
                <button type="submit" class="submit">
                    <span>Подписаться</span>
                </button>
            </form>
        </div>
        <div class="img-decor-bottom">
            <img src="img/pics/flowers.png" alt />
        </div>
    </div>
    <div class="img-decor-planet">
        <img src="img/pics/planet.png" alt />
    </div>
</div>