<div class="welcom-wrap parralax-parent">
    <div class="welcome parralax-element" data-speed="2.3">
        <div class="img-decor-top">
            <img src="img/pics/preview1.png" alt />
        </div>
        <div class="caption">
            <p>@@head</p>
        </div>
        <div class="wel-body">
            <p>@@description</p>
            <p class="community">1 569 574</p>
            <div class="form-caption">
                <p>@@subscribe</p>
                <div class="img-decor-left">
                    <img src="img/pics/our-products.png" alt />
                </div>
            </div>
            <form>
                <label>
                    <input type="email" name="email" placeholder="@@placeholder" />
                </label>
                <button type="submit" class="submit">
                    <span>@@subscribe-btn</span>
                </button>
            </form>
        </div>
        <div class="img-decor-bottom" >
            <img class="parralax-element" data-speed="1.3" src="img/pics/flowers.png" alt />
        </div>
    </div>
    <div class="img-decor-planet">
        <img src="img/pics/planet.png" alt />
    </div>
</div>